<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encurtador de Links</title>
</head>
<body>
    <h1>Encurtador</h1>
    <div>
        <span>Link longo</span>
        <form method="post" action="/home">
            {% csrf_token %}
            <input type="text" id="link" name="link">
            <button type="submit">Encurtar</button>
        </form>
        <a href="{{ UID }}">{{ UID }}</a>
    </div>
</body>
</html>